/*-----------------------------------*\
  #style.css
\*-----------------------------------*/

/* ------ copyright 2023 codewithaarzoo ------ */




/* ------ #CUSTOM PROPERTY ------ */

:root {

  /* colors */

  --hoockers-green_20: hsl(148, 20%, 38%, 0.2);
  --pale-spring-bud: hsl(60, 68%, 85%);
  --hoockers-green: hsl(148, 20%, 38%);
  --spanish-gray: hsl(0, 0%, 61%);
  --light-gray: hsl(0, 0%, 80%);
  --cultured-1: hsl(0, 0%, 97%);
  --cultured-2: hsl(60, 6%, 93%);
  --gray-web: hsl(0, 0%, 49%);
  --white_30: hsl(0, 0%, 100%, 0.3);
  --black_70: hsla(0, 0%, 0%, 0.7);
  --black_50: hsla(0, 0%, 0%, 0.5);
  --black_15: hsla(0, 0%, 0%, 0.15);
  --black_10: hsla(0, 0%, 0%, 0.1);
  --black_5: hsla(0, 0%, 0%, 0.05);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);

  /* gradient color */

  --gradient: linear-gradient(to right, transparent 50%, var(--white_30) 100%);

  /* typography */

  --ff-urbanist: 'Urbanist', sans-serif;

  --fs-1: 4.8rem;
  --fs-2: 4rem;
  --fs-3: 3.4rem;
  --fs-4: 2.4rem;
  --fs-5: 2rem;
  --fs-6: 1.8rem;
  --fs-7: 1.5rem;
  --fs-8: 1.4rem;
  --fs-9: 1.3rem;

  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;
  --fw-800: 800;

  /* spacing */

  --section-padding: 35px;

  /* shadow */

  --shadow-1: 0 8px 16px var(--black_15);
  --shadow-2: 0 4px 10px var(--black_5);

  /* radius */

  --radius-6: 6px;

  /* transition */

  --transition-1: 0.25s ease;
  --transition-2: 0.5s ease;
  --transition-3: 1s ease;
  --cubic-in: cubic-bezier(0.51, 0.03, 0.64, 0.28);
  --cubic-out: cubic-bezier(0.33, 0.85, 0.4, 0.96);

}





/*-----------------------------------*\
  #RESET
\*-----------------------------------*/




/*-----------------------------------*\
  #REUSED STYLE
\*-----------------------------------*/





/*-----------------------------------*\
  #HEADER
\*-----------------------------------*/




/*-----------------------------------*\
  #MOBILE NAVBAR
\*-----------------------------------*/




/*-----------------------------------*\
  #HERO
\*-----------------------------------*/




/*-----------------------------------*\
  #COLLECTION
\*-----------------------------------*/




/*-----------------------------------*\
  #SHOP
\*-----------------------------------*/




/*-----------------------------------*\
  #BANNER
\*-----------------------------------*/




/*-----------------------------------*\
  #FEATURE
\*-----------------------------------*/




/*-----------------------------------*\
  #OFFER
\*-----------------------------------*/




/*-----------------------------------*\
  #BLOG
\*-----------------------------------*/




/*-----------------------------------*\
  #FOOTER
\*-----------------------------------*/




/*-----------------------------------*\
  #BACK TO TOP
\*-----------------------------------*/




/*-----------------------------------*\
  #MEDIA QUERIES
\*-----------------------------------*/


/* ------ responsive for larger than 575px screen ------ */




/* ------ responsive for larger than 768px screen ------ */




/* ------ responsive for larger than 992px screen ------ */




/* ------ responsive for larger than 1200px screen ------ */
